<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>Cars</title>
    <th:block th:include="layout/header"></th:block>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>

    <link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var activeTab = $(e.target).text(); // Get the name of active tab
                var previousTab = $(e.relatedTarget).text(); // Get the name of previous tab
                $(".active-tab span").html(activeTab);
                $(".previous-tab span").html(previousTab);
            });
        });
    </script>
</head>

<body>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="cars-tab" data-toggle="tab" href="#CarTabContent" role="tab" aria-controls="cars"
           aria-selected="true">Cars</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="motorcycles-tab" data-toggle="tab" th:href="${'/main/motorcycles'}" role="tab"
           aria-controls="motorcycles" aria-selected="false">Motorcycles</a>
    </li>
</ul>

<div class="tab-content" id="CarTabContent">
    <div class="tab-pane fade show active" id="cars" role="tabpanel" aria-labelledby="cars-tab">

        <div th:if="${not #lists.isEmpty(cars)}">
            <h2>All Cars</h2>
            <label for="mySearch">Search title: </label>
            <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search for cars..">
            <table id="CarsTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="80%">
                <tr>
                    <th class="th-sm" style="cursor:pointer" sec:authorize="hasRole('ROLE_ADMIN')">Id</th>
                    <th class="th-sm" onclick="sortTable(0)" style="cursor:pointer">Title</th>
                    <th class="th-sm" onclick="sortTable(1)" style="cursor:pointer">Company</th>
                    <th class="th-sm" onclick="sortTable(2)" style="cursor:pointer">Model</th>
                    <th class="th-sm" onclick="sortTable(3)" style="cursor:pointer">Year</th>
                    <th class="th-sm" onclick="sortTable(4)" style="cursor:pointer">Price</th>
                </tr>
                <tr th:each="carAdvertisement : ${cars}">
                    <td class="align-middle" sec:authorize="hasRole('ROLE_ADMIN')" th:text="${carAdvertisement.id}">
                        Id
                    </td>
                    <td class="align-middle"><a th:text="${carAdvertisement.title}"
                                                th:href="${'/main/cars/' + carAdvertisement.id + '/show'}"/></td>
                    <td class="align-middle" th:text="${carAdvertisement.carCompany}">Company</td>
                    <td class="align-middle" th:text="${carAdvertisement.model}">Model</td>
                    <td class="align-middle" th:text="${carAdvertisement.year}">Year</td>
                    <td class="align-middle" th:text="${carAdvertisement.price + ' zł'}">Price</td>
                    <td>
                        <div class="col-md-6">
                            <img src="../../static/images/audi.jpg"
                                 th:src="@{'/main/cars/' + ${carAdvertisement.id} + '/carimage'}"
                                 width="200" height="200">
                        </div>
                    </td>
                    <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${'/main/cars/edit/' + carAdvertisement.id}"
                           class="btn btn-warning">Edit</a></td>
                    <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${'/main/cars/delete/' + carAdvertisement.id}"
                           class="btn btn-danger">Delete</a></td>
                    <td><a sec:authorize="isAuthenticated() && !hasRole('ROLE_ADMIN')"
                           th:href="${'/main/cars/buy/' + carAdvertisement.id}" class="btn btn-danger">Add to Cart</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("CarsTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }

    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("mySearch");
        filter = input.value.toUpperCase();
        table = document.getElementById("CarsTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
</body>
</html>