<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
              rel="stylesheet" media="screen"/>
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    </head>
    <body>

        <div class="container">
            <div th:fragment="header">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div>
                        <div>
                            <ul class="navbar-nav mr-auto">
                                <li>
                                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                                </li>
                                <li>
                                    <a class="nav-link" th:href="@{/cars}">Zobacz Ogłoszenia</a>
                                </li>
                                <li>
                                    <a class="nav-link" th:href="@{/cars/add}">Dodaj Ogłoszenie</a>
                                </li>
                                <li>
                                    <a class="nav-link" th:href="@{/admin}">Admin</a>
                                </li>
                                <li>
                                    <a class="nav-link" th:href="@{/login}">Zaloguj</a>
                                </li>
                                <li>
                                    <a class="nav-link" th:href="@{/register}">Zarejestruj</a>
                                </li>
                                <li>
                                    <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                                        <button class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Wyloguj
                                        </button>
                                    </form>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>

                <div class="jumbotron">
                    <div>
                        <div>
                            <h2 class="text-center">Moto Market Application</h2>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <img src="../../static/images/Cars.jpg" width="30%"
                             th:src="@{/images/Cars.jpg}"/>
                    </div>
                </div>

            </div>
        </div>

    </body>
</html>