.navbar-default {
    background: #6db33f;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.error{
	margin-left: 17px;
	margin-top: -17px;
	font-size: 14px;
	color: red;
}

