<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>Cars</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container-fluid">
    <div th:if="${not #lists.isEmpty(cars)}">
        <h2>All Cars</h2>
        <table class="table table-striped">
            <tr>
                <th sec:authorize="hasRole('ROLE_ADMIN')">Id</th>
                <th>Company</th>
                <th>Model</th>
                <th>Name</th>
                <th>Price</th>
                <th>VinNumber</th>
                <th>Colour</th>
                <th>Year</th>
                <th>Motor Capacity</th>
                <th>Fuel Type</th>
                <th>Kilometers</th>
                <th>Safety Lock</th>
                <th>Alu Wheels</th>
                <th>Contact</th>
            </tr>
            <tr th:each="car : ${cars}">
                <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${car.id}">Id</td>
                <td th:text="${car.company}">Company</td>
                <td th:text="${car.model}">Model</td>
                <td th:text="${car.name}">Name</td>
                <td th:text="${car.price}">Price</td>
                <td th:text="${car.vinNumber}">Vin Number</td>
                <td th:text="${car.colour}">Colour</td>
                <td th:text="${car.year}">Year</td>
                <td th:text="${car.motorCapacity}">Motor Capacity</td>
                <td th:text="${car.fuelType}">Fuel type</td>
                <td th:text="${car.kilometers}">Kilometers</td>
                <td th:text="${car.safetyLock}">Safety Lock</td>
                <td th:text="${car.aluWheels}">Alu Wheels</td>
                <td th:text="${car.phoneNumber}">Contact</td>

                <td>
                    <div class="col-md-6">
                        <img src="../../static/images/audi.jpg"
                             th:src="@{'/cars/' + ${car.id} + '/carimage'}"
                             width="200" height="200">
                    </div>
                </td>
                <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${'/cars/edit/' + car.id}" class="btn btn-warning">Edit</a></td>
                <td><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${'/cars/delete/' + car.id}" class="btn btn-danger">Delete</a></td>
                <td><a sec:authorize="isAuthenticated() && !hasRole('ROLE_ADMIN')" th:href="${'/cars/buy/' + car.id}" class="btn btn-danger">Add to Cart</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>