<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>Cars</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(cars)}">
        <h2>All Cars</h2>
        <table class="table table-striped">
            <tr>
                <th sec:authorize="hasRole('ROLE_ADMIN')">Id</th>
                <th>Title</th>
                <th>Company</th>
                <th>Model</th>
                <th>Price</th>
                <th>VinNumber</th>
                <th>Colour</th>
                <th>Year</th>
                <th>Motor Capacity</th>
                <th>Fuel Type</th>
                <th>Kilometers</th>
                <th>Safety Lock</th>
                <th>Alu Wheels</th>
            </tr>
            <tr th:each="carAdvertisement : ${cars}">
                <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${carAdvertisement.id}">Id</td>
                <td th:text="${carAdvertisement.title}">Title</td>
                <td th:text="${carAdvertisement.carCompany}">Company</td>
                <td th:text="${carAdvertisement.model}">Model</td>
                <td th:text="${carAdvertisement.price}">Price</td>
                <td th:text="${carAdvertisement.vinNumber}">Vin Number</td>
                <td th:text="${carAdvertisement.colour}">Colour</td>
                <td th:text="${carAdvertisement.year}">Year</td>
                <td th:text="${carAdvertisement.motorCapacity}">Motor Capacity</td>
                <td th:text="${carAdvertisement.fuelType}">Fuel type</td>
                <td th:text="${carAdvertisement.kilometers}">Kilometers</td>
                <td th:text="${carAdvertisement.safetyLock}">Safety Lock</td>
                <td th:text="${carAdvertisement.aluWheels}">Alu Wheels</td>
                <td>
                    <div class="col-md-6">
                        <img src="../../static/images/audi.jpg"
                             th:src="@{'/main/cars/' + ${carAdvertisement.id} + '/carimage'}"
                             width="200" height="200">
                    </div>
                </td>
                <td><a sec:authorize="isAuthenticated()" th:href="${'/main/cars/edit/' + carAdvertisement.id}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        </table>
    </div>
    <div th:if="${not #lists.isEmpty(motorcycles)}">
        <h2>All Motorcycles</h2>
        <label for="myMtSearch">Search title: </label>
        <input type="text" id="myMtSearch" onkeyup="myFunction()" placeholder="Search for cars..">
        <table id="MotorcyclesTable" class="table table-striped table-bordered table-sm" cellspacing="0"
               width="80%">
            <tr>
                <th class="th-sm" style="cursor:pointer" sec:authorize="hasRole('ROLE_ADMIN')">Id</th>
                <th class="th-sm" onclick="sortTable(0)" style="cursor:pointer">Title</th>
                <th class="th-sm" onclick="sortTable(1)" style="cursor:pointer">Company</th>
                <th class="th-sm" onclick="sortTable(2)" style="cursor:pointer">Model</th>
                <th class="th-sm" onclick="sortTable(3)" style="cursor:pointer">Year</th>
                <th class="th-sm" onclick="sortTable(4)" style="cursor:pointer">Price</th>
            </tr>
            <tr th:each="motorcycleAdvertisement : ${motorcycles}">
                <td class="align-middle" sec:authorize="isAuthenticated() && !hasRole('ROLE_ADMIN')"
                    th:text="${motorcycleAdvertisement.id}">
                    Id
                </td>
                <td class="align-middle"><a th:text="${motorcycleAdvertisement.title}"
                                            th:href="${'/main/motorcycles/' + motorcycleAdvertisement.id + '/show'}"/>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${motorcycleAdvertisement.id}">Id</td>
                <td th:text="${motorcycleAdvertisement.motorcycleCompany}">Company</td>
                <td th:text="${motorcycleAdvertisement.model}">Model</td>
                <td th:text="${motorcycleAdvertisement.price}">Price</td>
                <td th:text="${motorcycleAdvertisement.vinNumber}">Vin Number</td>
                <td th:text="${motorcycleAdvertisement.colour}">Colour</td>
                <td th:text="${motorcycleAdvertisement.year}">Year</td>
                <td th:text="${motorcycleAdvertisement.motorCapacity}">Motor Capacity</td>
                <td th:text="${motorcycleAdvertisement.kilometers}">Kilometers</td>
                <td th:text="${motorcycleAdvertisement.phoneNumber}">Contact</td>
                <td>
                    <div class="col-md-6">
                        <img src="../../static/images/audi.jpg"
                             th:src="@{'/main/motorcycles/' + ${motorcycleAdvertisement.id} + '/mtimage'}"
                             width="200" height="200">
                    </div>
                </td>
                <td><a sec:authorize="isAuthenticated() && !hasRole('ROLE_ADMIN')"
                       th:href="${'/main/motorcycles/edit/' + motorcycleAdvertisement.id}"
                       class="btn btn-warning">Edit</a></td>
            </tr>
        </table>

    </div>

</div>
</div>
</body>
</html>