<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cars - Moto Market</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
<h1>Log in page</h1>


<p>Are you new here? Click <a th:href="@{/register}">here, </a> to register</p>

<!-- tag::thAction[] -->
<form method="post" th:action="@{/login}" id="loginForm">
    <!-- tag::thAction[] -->
    <div th:if="${param.error}" class ="alert alert-danger" id="error">Login failed. Check the username and password are correct</div>

    <label for="username">Username: </label>
    <input type="text" name="username" id="username" class="form-control"/><br/>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" class="form-control"/><br/>

    <input type="submit" value="Sign In" class="btn btn-success"/>

</form>
</div>
</body>
</html>