<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <title>Cars</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(cars)}">
        <h2>All Cars</h2>
        <table class="table table-striped">
            <tr>
                <th sec:authorize="hasRole('ROLE_ADMIN')">Id</th>
                <th>Company</th>
                <th>Model</th>
                <th>Name</th>
                <th>Price</th>
                <th>VinNumber</th>
                <th>Colour</th>
                <th>Year</th>
                <th>Motor Capacity</th>
                <th>Fuel Type</th>
                <th>Kilometers</th>
                <th>Safety Lock</th>
                <th>Alu Wheels</th>
                <th>Contact</th>
            </tr>
            <tr th:each="carAdvertisement : ${cars}">
                <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${carAdvertisement.id}">Id</td>
                <td th:text="${carAdvertisement.carCompany}">Company</td>
                <td th:text="${carAdvertisement.model}">Model</td>
                <td th:text="${carAdvertisement.name}">Name</td>
                <td th:text="${carAdvertisement.price}">Price</td>
                <td th:text="${carAdvertisement.vinNumber}">Vin Number</td>
                <td th:text="${carAdvertisement.colour}">Colour</td>
                <td th:text="${carAdvertisement.year}">Year</td>
                <td th:text="${carAdvertisement.motorCapacity}">Motor Capacity</td>
                <td th:text="${carAdvertisement.fuelType}">Fuel type</td>
                <td th:text="${carAdvertisement.kilometers}">Kilometers</td>
                <td th:text="${carAdvertisement.safetyLock}">Safety Lock</td>
                <td th:text="${carAdvertisement.aluWheels}">Alu Wheels</td>
                <td th:text="${carAdvertisement.phoneNumber}">Contact</td>
                <td>
                    <div th:if="${not #lists.isEmpty(cars)}" class="col-md-6">
                        <img src="../../static/images/audi.jpg"
                             th:src="@{'/cars/' + ${carAdvertisement.id} + '/carimage'}"
                             width="200" height="200">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>